*.sock
# =========================================
# IDE / Editor dosyaları
# =========================================
*.iml
*.ipr
*.iws
.idea/
*.vscode/
*.classpath
*.project
*.settings/

# =========================================
# Maven / Gradle
# =========================================
target/
build/
out/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# =========================================
# Logs
# =========================================
*.log

# =========================================
# OS / System files
# =========================================
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo

# =========================================
# Spring Boot / Misc
# =========================================
*.jar
*.war
*.ear
*.class
*.db
*.h2.db
hs_err_pid*
*.pid
*.tmp
*.backup

# =========================================
# Docker / Volume data
# =========================================
volume-data/
*.sock
docker-compose.override.yml

# =========================================
# Test / Coverage
# =========================================
*.class
*.jar
*.war
*.ear
/test-output/
coverage/


product-service/data/